body {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/hypnotize.png);
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: right;

}