table{ 
    border-collapse: collapse;
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
}
th{
    background-color: rgb(204, 55, 55);
    color:white; 

}
td {
    text-align: center;
    padding: 10px;
    
}

tr:nth-child(even){
    background-color: #f2f2f2;
}
tr:hover {
    background-color: rgb(226, 131, 42);
    
}
img{
    width: 150px;
}