* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

container {
    display: block;
    width: 90%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    padding: 1%;
}

@media (min-width: 768px) {
    header {
        position: relative;
    }
}

header > img {
    width: 100%;
    margin-bottom: 5%;
}

h1 {
    text-align: center;
    margin: 3%;
}

@media (min-width: 768px) {
    h1 {
        text-align: left;
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    nav {
        position: absolute;
        top: 0;
        right: 0;
        float: right;
    }
}

nav li {
    list-style-type: none;
    text-align: center;
    padding: 2%;
}

@media (min-width: 768px) {
    nav li {
        display: inline-block;
    }
}

.active {
    background-color: rgb(30, 90, 255);
    color: white;
}

main {
    width: 100%;
    padding: 1%;
}

article {
    margin: 0 0 10% 0;
}

article > img {
    width: 100%;
    margin-bottom: 5%;
}

p {
    text-align: justify;
}